asgiref==3.11.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==6.0.7
django-allauth==65.19.1
django-environ==0.14.0
idna==3.19
psycopg==3.3.4
psycopg-binary==3.3.4
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.16.0
urllib3==2.7.0
